/* body {
  background: gray;
  margin: 0;
} */

/* .tiles {
  display: grid;
  margin: 48px auto;
  gap: 16px;
  grid-template-columns: repeat((4, 100px));
}

.tile {
  width: 100px;
  height: 100px;
  border: 1px solid black;
} */
